.menu-container-wrap {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    background-color: #D1B06B;
    width: 200px;
    z-index: 1000;

    .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: absolute;
        bottom: 0%;

        .menu-top {
            img {
                width: 150px;
                height: auto;
            }
        }

        .menu-bottom {
            a {
                font-family: outfit;
                text-decoration: none;
                color: #ffffff;
                font-weight: 500;
                font-size: 20px;
                padding: 15px 38px;
                background: #161D27;
                display: inline-block;
                text-align: center;
                border: 2px solid transparent;

                &:hover {
                    border: 2px solid #161D27;
                    color: #161D27;
                    background-color: #fff;
                }
            }
        }
    }
}