.user-details-wrap {
    background-color: #161D27;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;

    .user-details {
        background-color: #1F2732;
        border-radius: 12px;

        .user-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;

            .user-image {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                padding-top: 25px;

                h1,
                h2 {
                    width: 100%;
                    text-align: center;
                    padding-top: 10px;
                    text-transform: capitalize;
                }

                h2 {
                    color: #d7d7d7;
                }

                .icon {
                    width: 95px;
                    height: 44px;
                    padding: 15px 0;
                }

                img {
                    border-radius: 100%;
                    width: 140px;
                    height: 140px;
                    object-fit: cover;
                }
            }

            .user-info {
                .tabs {
                    display: flex;
                    padding: 10px 0 25px;
                    gap: 12px;
                    justify-content: center;

                    a {
                        padding: 15px 38px;
                        border: none;
                        background-color: #f0f0f0;
                        cursor: pointer;
                        font-family: Outfit;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 28px;
                        transition: background-color 0.3s ease;
                        color: #fff;
                        background-color: #161D27;

                        &:hover {
                            color: rgba(22, 29, 39, 1);
                            background-color: rgba(209, 176, 107, 0.6);
                        }

                        &.active {
                            color: #161D27;
                            background-color: #D1B06B;
                        }
                    }
                }

                .tab-content {
                    background-color: #161D27;
                    padding: 30px;
                    border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                    h2 {
                        padding-bottom: 15px;
                        border-bottom: 2px solid #3A4553;
                    }

                    strong {
                        font-weight: 600;
                    }

                    .details {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding-top: 12px;

                        .image {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            span {
                                font-family: Outfit;
                                font-size: 20px;
                                font-weight: 400;
                                line-height: 28px;
                                color: #d7d7d7;
                            }

                            .image-wrap {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 100%;
                                border: 2px solid #D1B06B;
                                width: 48px;
                                height: 48px;
                            }
                        }

                        p,
                        a {
                            font-family: Outfit;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 28px;
                            text-transform: capitalize;
                            color: #D1B06B;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }

                        a {
                            text-decoration: none;

                            &:hover {
                                color: rgba(209, 176, 107, .7);
                            }
                        }
                    }
                }
            }
        }

        .cta-btn {
            text-align: center;
            padding: 25px 0;

            a {
                padding: 18px 34px;
                color: #1F2732;
                background-color: #D1B06B;
                font-family: Outfit;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                display: inline-block;
                border: 2px solid transparent;
                text-decoration: none;

                &:hover {
                    color: #D1B06B;
                    background-color: transparent;
                    border: 2px solid #D1B06B;
                }
            }
        }
    }
}