@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  .container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;

    &:hover {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  h1,
  .h1 {
    font-family: Cormorant Garamond;
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    color: #ffffff;
    margin: 0;
  }

  h2,
  .h2 {
    font-family: Cormorant Garamond;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: #ffffff;
    margin: 0;
  }

  p {
    font-family: Outfit;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #D7D7D7;
    margin: 0;
  }

  a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }


  ul,
  li {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
}